<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
 
</head>
<body class="h-full grid place-items-center">
<div id="app">
        <section v-show="inProgressAssignments.length">
            <h2 class="font-bold mb-2">In Progress</h2>

            <ul>
                <li v-for="assignment in inProgressAssignments">
                    <label>
                        {{ assignment.name}} 
                    </label>
                    <input type="checkbox" v-model="assignment.complete">
                </li>
            </ul>

        </section>

        <section v-show="completedAssignments.length">
            <h2 class="font-bold mb-2 mt-8">Completed</h2>

            <ul>
                <li v-for="assignment in assignments.filter(a => a.complete)" :key="assignment.id">
                    <label>
                        {{ assignment.name}} 
                    </label>
                    <input type="checkbox" v-model="assignment.complete">
                </li>
            </ul>

        </section>
    </div>

    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        {name: 'Finish Project', complete: false, id: 1},
                        {name: 'Read chapter 4', complete: false, id: 2},
                        {name: 'Turn in homework', complete: false, id: 3},
                    ]
                }
            },

            computed: {
                inProgressAssignments() {
                    return this.assignments.filter(assignment => !assignment.complete)
                },

                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.complete)
                }
            }
        };

        Vue.createApp(app).mount('#app');
    </script>
</body>
</html>